*.DS_Store
*.iml
*.xml
*.txt
*.dio
*.log

.idea/inspectionProfiles/
.metals/metals.h2.db
.vscode/settings.json

Spring/feign.md
TODO/MySQL会丢数据吗？.md
TODO/【阿里最新数据库面试题】MySQL主从一致性.md
TODO/【阿里数据库面试题解】MySQL高可用原理.md
TODO/MySQL执行更新语句时做了什么?.md
TODO/为何阿里不推荐MySQL使用join？.md
TODO/【阿里MySQL面试题】内部临时表.md
TODO/MySQL数据查询太多会OOM吗？.md
TODO/有了InnoDB，Memory存储引擎还有意义吗？.md
TODO/MySQL执行insert会如何加锁?.md
TODO/MySQL的自增id竟然用到头了怎么办？.md
TODO/MySQL全局锁和表锁.md
TODO/MySQL事务是怎么实现隔离的？.md

